# Entorno
.env
__pycache__/
*.pyc
venv/

# Mosquitto data/logs/certs/runtime config
mosquitto/data/
mosquitto/log/
mosquitto/certs/
mosquitto/config/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
